{% extends 'base.html.twig' %}

{% block title %}Chess{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/play_game.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="container-fluid">
		<div class="row">
            <div class="col-md-4">
                <div id="container-for-buttons">
                    <button class="btn btn-primary" id="play-game-button">Play Game</button>
                    <button class="btn btn-primary" id="play-next-move-button">Play next move</button>
                </div>

                <div id="container-for-moves" class="mt-3"></div>
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        {% for i in 8..1 %}
                            <tr>
                                <td>{{ i }}</td>

                                {% for j in 1..8 %}
                                    {% set color = game.getBoard()[i][j].getColor() %}

                                    {% if color == 'black' %} {% set color = "#769656" %} {% endif %}
                                    
                                    {% if game.getBoard()[i][j].getPiece() == null %}
                                        <td style="{{ 'background-color:'~color  }}" class="cord-{{ i }}{{ j }}"><img class="piece-board-img opacity-0" src="{{ asset('/assets/images/black-pawn.png') }}"></td>
                                    {% else %}
                                        <td style="{{ 'background-color:'~color }}" class="cord-{{ i }}{{ j }}"><img class="piece-board-img" src="{{ asset('/assets/images/'~game.getBoard()[i][j].getPiece().getPicture) }}"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                            <td>e</td>
                            <td>f</td>
                            <td>g</td>
                            <td>h</td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" id="move-counter" value="0">
            </div>
        </div>
    </div>

{% endblock %}
